<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
<h1>Morpheus Microsoft DNS Integration Service Profile</h1>
<h2>{{integrationDetails}}</h2>
<h3>Rpc Connection Status {{success}}
</div>
<p>{{msg}}</p>
</p>Errors</p>
<pre>{{error}}
</pre>
<div>
<p>Rpc Output</p>
<pre id="rpcInfo">
{{rpcInfo}}
</pre>
</div>
</body>
</html>
